.item_card {
    position: relative;
    margin: 1rem 1rem;
    min-width: 180px;
    max-width: 70%;
    max-height: 320px;
    height: 100%;
    font-family: var(--font-primary);
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 2px 0px rgba(207, 207, 207, 0.649);
    background-color: rgba(0, 0, 0, .0125);
    overflow: hidden;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(2px);
    cursor: pointer;
    animation: cardShow 1s ease 1;
  }

@keyframes cardShow {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
to {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
}
}

  
  .item_card > img {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    object-fit: contain;
    object-position: top center;
    z-index: -1;
  }
  
  .item_card > img.game_img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
   
  .item_card > h2 {
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary);
    font-size: clamp(1rem, 1vw, 1.2rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: none;
  }
  
  .item_card > h2, .item_desc, .overview {
    padding: 0.25rem 2rem;
    z-index: 1;
  }
  
   
  .item_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .item_info .item_score {
    font-size: 0.8rem;
    padding: 0.25rem;
  }

  .item_card > h2, .item_info, .item_platforms {
    color: black;
    
  }

  .item_card.movie > h2, .item_card.movie .item_info {
    color: var(--color-secondary);
    
  }
  
  .item_info .item_platforms {
    width: 100%;
    display: flex;
    place-content: center;
    padding: 0.25rem 0rem;
  }


  .item_card_back {
    background-color: var(--color-card);
  }
  
  .item_review {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.6s ease;
    overflow: hidden;
    cursor: pointer;
  }

  .item_bg_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    opacity: 0.6;
    z-index: -1;
  }
  
  .item_review:hover,
  .item_review:active,
  .item_review:focus {
    opacity: 1;
  }
  
  .item_card:hover .item_review,
  .item_card:active .item_review {
    transform: scale(1);
    opacity: 1;
  }

  .item_review .overview {
    padding: 1rem 1.75rem 0;
    height: 100%;
    width: 100%;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 1px 0px rgba(207, 207, 207, 0.649);
    background-color: rgba(0, 0, 0, .35);
    overflow-y: scroll;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .item_review .overview::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.item_review .overview {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: -moz-scrollbars-none;
}

  .item_review .overview p {
    margin: 0.25rem 0;
    font-family: var(--font-light);
    font-size: 0.8rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  }

  
@media ( width > 480px) {
  
  .item_card {
    position: relative;
    margin: 1rem 1rem;
    width: 256px;
    height: 100%;
  }
  .item_card > img.game_img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  }


@media (width > 992px) {
   
  .item_card {
    position: relative;
    margin: 1rem 2rem;
    width: 228px;
    height: 100%;
  }

  
  .item_card > img {
    width: 100%;
    max-height: 100%;
    top:0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
}