.details_modal {
    position: fixed;
    background-color: #282828;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: none;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
}

.show {
    display: block;
    opacity: 1;
}

.details_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-bottom: 10vh; 
}

.details_img {
    margin: 0 auto;
    width: 90%;
    height: auto;
    background-position: center;
    object-fit: cover;
}

.go_back_btn {
    margin: 0.5rem 0 0 0.5rem;
    padding: 1rem 2rem;
    max-width: 40%;
    position: absolute;
    top: 1rem;
    left: 1rem;  
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-size: 0.6rem;
    cursor: pointer;
}

.go_back_btn:after {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
   
    transition: all 0.3s ease-in-out;
   
}

.go_back_btn:hover {
    color: #f4f8f8;
    z-index: 2;
}
.go_back_btn:hover:after {
    width: 100%;
    background-color: #282828;   
}

.details_info {
    margin: 0rem 1rem;
    padding: 1rem 2rem;
    gap: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #f4f8f8;
    background-color: #121212;   
    border-radius: 10px;
}

.details_title {       
    font-size: clamp(2rem, 2vw, 3rem);
    text-align: center;
    color: white;
}

.details_release_date {
    display: flex;
    flex-direction: column;
    color: #f4f8f8;
}

.details_desc {
    padding: 1rem 2rem;
    font-weight: 400;
    color: white;
}

.details_thumbnails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.details_thumbnails > img {
    width: 100px;
    height: auto;
}

@media(min-width: 768px) {

    .go_back_btn {
        top: 1rem;
        left: 1rem;
    }

    .details_container {
        width: 80%;
    }

    
.details_img {
    width: 50%;
    height: auto;
    background-position: center;
    object-fit: cover;
}

.details_thumbnails > img {
    width: 200px;
    height: auto;
    gap: 1rem;
}
}

