@import url('./css/header.css');
@import url('./css/logo.css');
@import url('./css/nav.css');
@import url('./css/items.css');
@import url('./css/hero.css');
@import url('./css/search.css');
@import url('./css/pagination.css');
@import url('./css/fonts.css');

@import url('./css/error.css');

:root {
    --color-primary: #232328;
    --color-secondary: #ededed;
    --color-bg:#F9F6EE;
    --color-header: linear-gradient(315deg, #6c63fe 0%, #252525 80%);
    --color-nav-bg: #252525;
    --color-link: #F9F6EE;

    --color-movie-bg: rgb(190, 90, 73);

    --color-card-wrapper-bg: #784B84;
    --color-card: #342f36;
    --color-card-bg: #ededed;

    --color-btn-bg: #342f36;
    --color-btn-bg-hover: #453f48;
    --color-btn: #ededed;

    --font-primary: SourcePro;
    --font-bold: SourceProBold;
    --font-light: SourceProLight;
    --font-secondary: Kenoky;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: #262626;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    color: var(--color-primary);
    text-align: center;
    text-shadow: 3px 4px 7px rgba(163, 161, 161, 0.8);
}

i,
.fa-solid,
.fa-brands {
    height: 24px;
    width: 24px;
    font-size: clamp(0.8rem, 1.5vw, 1rem); 
}

main {
    width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }

.main {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0,0,0,.125, orange));
}

.buttons_wrapper {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.fetch_btn {
    margin: 0.2rem auto;
    padding: 1rem 2rem;
    width: 40%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 0.6rem;
}

.fetch_btn:hover {
    background-color: #282828;
    color: #fafafa;
}

.mustplay_btn:hover {
    background-color: transparent;
    background: linear-gradient(120deg, red, tomato);
    color: red;
    text-shadow:  -1px -1px 1px black;
}
